* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

body {
  background-image: url("./assets/girl-lost-in-thought.jpeg");
  background-size: cover; /* Ensures the image covers the entire background */
  background-position: center; /* Centers the image */
  background-repeat: no-repeat; /* Prevents the image from repeating */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: aliceblue;
  margin: 0; /* Remove default margin for body */
}


.container{
  width: 90vw;
  height: 90vh;
  background-color: rgba(33, 33, 68, 0.693);
  backdrop-filter: blur(1.5px) saturate(180%);
  border-radius: 1%;
  display: flex;
}